:root{
    --black: #011212;
    --orange: #ff8800;
    --square: 100px;
}
body {
    background-color: var(--black);
}

.ball {
    width: var(--square);
    height: var(--square);
    background-color: var(--orange);
    border-radius: var(--square/2);
}
