*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#green{
    display: flexbox;
    justify-content: center;
    background-color: rgb(147, 255, 188);
    order: 0;
    flex-grow: 1;
}
#yellow{
    display: flexbox;
    justify-content: center;
    background-color: rgb(255, 255, 129);
    order: -2;
    width: 70px;
    flex-grow: 1.2;
}
#orange{
    display: flexbox;
    justify-content: center;
    background-color: rgb(255, 200, 122);
    order: 1;
    flex-grow: 3;
}
#red{
    display: flexbox;
    justify-content: center;
    background-color: rgb(255, 130, 130);
    order: -1;
    flex-grow: 1.2;
}
section{
    padding: 40px 40px;
    margin-right: 2%;
}
#blue{
    display: flexbox;
    justify-content: center;
    background-color: rgb(125, 186, 255);
    order: 2;
    margin: 0%;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 2px;
    height: 5px;
}